.articles-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-title{
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.articles-container{
  width: inherit;
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 9.1rem;
}

/* 
en 1230 se reduce el tamaño del titulo a 40px

en 870 el tamaño del contenedor 
*/