.article-container{
  width: 36.1rem;
  height: 18.7rem;
  border-bottom: 1px solid black;
  padding: 2.1rem 3rem;
  margin-top: 8.6rem;
}

.article-border{
  width: 29.9rem;
  height: 14.5rem;
  border: 1px solid #F4CCCC;
  padding: 1.5rem 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-title{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.article-title h2{
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.article-title img{
  margin-top: 0.5rem;
  width: 1.6rem;
  height: 1.8rem;
}


.article-border p{
  font-size: 1.2rem;
  line-height: 1.5rem;
}
